* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: rgb(105, 105, 105);
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(221, 243, 255);
}

img {
  max-width: 100%;
}

button{
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
   border-radius: 3rem;
   border: none;
   color: rgb(105, 105, 105);
}

button:hover{
  background: linear-gradient(90deg, 
    rgb(21, 255, 0)0%,
    rgb(72, 239, 108)100%
    );
}
